/* #region Common */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background-color: var(--white2);
}

:root{
    --white: white;
    --white2: #f6f8f9;; 
    --skyblue: rgb(71, 173, 241);
    --gray: rgb(205, 210, 215);
    --green: rgb(100, 192, 169);
    --green2: rgb(176, 201, 38);
    --violet: rgb(156, 114, 228);
    --red: red;
    --orange: rgb(242, 158, 51);
    --pink: rgb(216, 99, 161);
}

.check, .x{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    vertical-align: middle; 
}

.check{
    color: var(--green);
    border: 1px solid var(--green);
}

.x{
    color: var(--red);
    border: 1px solid var(--red);
}
/* #endregion Common */

/* #region Header */ 

#site_header{
    height: 70px;
    background-color: var(--white);
    padding-left: 20px;
}

.logo{
    height: 50px;
    vertical-align: middle;
}

.title{
    font-size: 40px;
    vertical-align: middle;
    display: inline-block;
    line-height: 70px;
}

/* #endregion header */

/* #region Main */ 

main{
    width: 70%;
    margin: auto;
    background-color: var(--white);
    padding-left: 50px;
    margin-top: 40px;
    padding-bottom: 40px;
}

section{
    margin-top: 40px;
}

section>div{
    margin-top: 15px;
}

button{
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button1{
    background-color: var(--skyblue);
    border-color: var(--skyblue);
    color: var(--white);
}

.button2{
    background-color: var(--white);
    border-color: var(--gray);
    color: var(--gray);
}

.square{
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 10px;
    color: var(--white);
}

.square1{
    background-color: var(--skyblue);
}

.square2{
    background-color: var(--violet);
}

.square3{
    background-color: var(--green);
}

.square4{
    background-color: var(--orange);
}

.square5{
    background-color: var(--pink);
}

.square6{
    background-color: var(--green2);
}

/* #endregion Main */

/* #region Footer */ 


/* #endregion Footer */





